body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: #f9f9f9;
    color: #333;
}


h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}


button {
    padding: 10px;
}